.options
  %a.btn.primary.large{:href => new_category_task_path(@category)} Nueva tarea
  = link_to "Eliminar", category_path(@category), :confirm => 'Are you sure?', :method => :delete, :class => 'btn small error right'
  %a.btn.right{:href => edit_category_path(@category)} Editar
.row
  .span11
    .header
    %ul.tasks
      - @category.tasks.each do |task|
        %li{:id => "task_#{task.id}", :class => task.status}
          %a{:href => category_task_path(@category, task)}=task.title
          .right
            -unless task.story_id.blank?
              %a.pivotal{:href=> task.story_url} En Pivotal Tracker
            - simple_form_for([@category, task], :remote => true) do |f|
              = f.input :status, :collection => Task::STATUS, :label => false, :include_blank => false, :input_html => {:class => 'btn'}
              = f.button :submit, 'Actualizar', :class => 'btn'
  .span4
    %h3 Usuarios en este proyecto
    %ul.unstyled
      - @category.users.each do |user|
        %li
          %a{:href => user_path(user)}= user.email