!!!
%html
  %head
    %title Potts
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag 'farbtastic'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      %h1
        %a{:href => root_path}
          %img{:src => '/images/logo.png'}
      - unless user_signed_in?
        .new_user
          %a.btn.large.success{:href => sign_in_path} Iniciar sesión
          %a.btn.small{:href => new_user_registration_path} Registrarse
      - else
        = render :partial => 'layouts/user_options'
    #body
      = yield